.err {
  margin-bottom: 0px;
  padding: 0 15px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.name {
  color: Peru;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0 25px;
}
.text {
  color: rgba(240, 222, 170, 0.6);
  padding: 0 25px;
  margin: 0;
  margin-bottom: 20px;
}
